<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>{% block title %}FishBlock - Votre Portail de Séries!{% endblock %}</title>
        {% block stylesheets %}{% endblock %}
        <link rel="stylesheet" href="{{ asset('public/css/fish-style.css') }}">
        <link rel="stylesheet" href="{{ asset('public/css/plugins.css') }}">
        <link rel="stylesheet" href="{{ asset('public/css/animate.css') }}">
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />


    </head>
    <body>
    <main>
        <h1 class="cache-fish">FishBlock - Votre Portail de Séries</h1>
        <div class="top-fish"></div>
        <header class="container-fluid">

            {# Logo of the website #}
            <figure class="logo-fish">
                <a href="{{ path('_index') }}"><img src="{{ asset('public/images/logo-fishblock2.png') }}" class="animated bounceInLeft" alt="FishBlock Logo" width="200px"></a>
            </figure>

           {% block login %} {% endblock %}

            {# Change langages #}
            <span class="lang-fish">
                <i class="fa fa-globe"></i>
                <a href="" lang="fr" class="">FR</a>
                <a href="" lang="en" class="">EN</a>
            </span>

            {#LANGUE EN MODE LISTE#}
            {#<div class="dropdown lang-fish">
                <i class="fa fa-globe"></i>
                <button class="btn btn-default dropdrown-toggle btn-fish" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                    langues
                    <span class="caret"></span>
                </button>
                <ul class="dropdown-menu select-genre-fish" aria-labelledby="dropdownMenu1">
                    <li href="" lang="fr" {% if app.request == 'fr' %} class="active-fish"{% endif %} >french <i></i></li>
                    <li href="" lang="en" {% if app.request == 'en'  %} class="active-fish" {% endif %} >english <img src="{{ asset('public/images/flag-usa.png') }}"></img></li>
                </ul>
            </div>#}

        </header>
       
        {% include('::sidebar_fish.html.twig') %}


        <section class="contenu-fish">
        {% block body %}{% endblock %}

        </section>
        {% block javascripts %}
            <script src="{{ asset('public/js/jquery.min.js') }}"></script>
            <script src="{{ asset('public/js/fishblock.js') }}"></script>
            <script src="{{ asset('public/js/bootstrap.min.js') }}"></script>

        {% endblock %}

        {% block footer %}
       <footer>
        {% include('::footer_fish.html.twig') %}
       </footer>
        {% endblock %}
        </main>
    </body>
</html>
