<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>{% block title %}FishBlock - Votre Portail de Séries!{% endblock %}</title>
        {% block stylesheets %}{% endblock %}
        <link rel="stylesheet" href="{{ asset('public/css/fish-style.css') }}">
        <link rel="stylesheet" href="{{ asset('public/css/plugins.css') }}">
        <link rel="stylesheet" href="{{ asset('public/css/animate.css') }}">
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
        <link rel="icon" type="image/png" href="{{ asset('favicon-32x32.png') }}" sizes="32x32" />
        <link rel="icon" type="image/png" href="{{ asset('favicon-16x16.png') }}" sizes="16x16" />
        <script src="{{ asset('public/js/tinymce/tinymce.min.js') }}"></script>

        <script>
            tinymce.init({
                mode: 'textareas',
                menubar: false,
                entity_encoding : "raw",
                extended_valid_elements : 'img[class|src|border=0|alt|title|hspace|vspace|width|height|align|onmouseover|onmouseout|name]',
                plugins: [
                    "advlist autolink lists link image charmap print preview anchor",
                    "searchreplace visualblocks code fullscreen",
                    "insertdatetime media table contextmenu paste imagetools"
                ],
                toolbar: "insertfile undo redo | styleselect | bold italic | alignleft aligncenter alignright alignjustify | bullist numlist outdent indent | link image",
                imagetools_cors_hosts: ['www.tinymce.com', 'codepen.io'],
                content_css: [
                    '//fast.fonts.net/cssapi/e6dc9b99-64fe-4292-ad98-6974f93cd2a2.css',
                    '//www.tinymce.com/css/codepen.min.css'
                ]
            });
            function ajaxLoad() {
                var ed = tinyMCE.get('content');

                // Do you ajax call here, window.setTimeout fakes ajax call
                ed.setProgressState(1); // Show progress
                window.setTimeout(function() {
                    ed.setProgressState(0); // Hide progress
                    ed.setContent('HTML content that got passed from server.');
                }, 3000);
            }

            function ajaxSave() {
                var ed = tinyMCE.get('content');

                // Do you ajax call here, window.setTimeout fakes ajax call
                ed.setProgressState(1); // Show progress
                window.setTimeout(function() {
                    ed.setProgressState(0); // Hide progress
                    alert(ed.getContent());
                }, 3000);
            }



        </script>


    </head>
    <body>
    <main>
        <h1 class="cache-fish">FishBlock - Votre Portail de Séries</h1>
        <div class="top-fish"></div>
        <header class="container-fluid">

            {# Logo of the website #}
            <figure class="logo-fish">
                <a href="{{ path('_index') }}"><img src="{{ asset('public/images/logo-fishblock2.png') }}" class="" alt="FishBlock Logo" width="200px"></a>
            </figure>

           {% block login %} {% endblock %}
            {% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
                {#icones messages#}
                <span class="icon-notify-fish">
                    <a href="">
                        <i class="fa fa-bell-o"><span class="badge">3</span></i>
                    </a>
                    <a href="">
                        <i class="fa fa-envelope-o"><span class="badge">5</span></i>
                    </a>
                </span>
            {% endif %}


            {# Change langages #}
            <span class="lang-fish">
                <i class="fa fa-globe"></i>
                <a href="{{ path('_langue', {'langue' : 'fr'}) }}" class=""><img src="{{ asset('public/images/flag-french.png') }}" width="24" height="12"></a>
                <a href="{{ path('_langue', {'langue' : 'en'}) }}" class=""><img src="{{ asset('public/images/flag-anglais.png') }}" width="24" height="12"> </a>
            </span>

        </header>
       
        {% include('::sidebar_fish.html.twig') %}


        <section class="contenu-fish">
        {% block body %}{% endblock %}

        </section>
        {% block javascripts %}
            <script src="{{ asset('public/js/jquery.min.js') }}"></script>
            <script src="{{ asset('public/js/fishblock.js') }}"></script>
            <script src="{{ asset('public/js/bootstrap.min.js') }}"></script>
            <script src="{{ asset('public/js/tinymce/jquery.tinymce.min.js') }}"></script>



        {% endblock %}

        {% block footer %}
       <footer>
        {% include('::footer_fish.html.twig') %}
       </footer>
        {% endblock %}
        </main>
    </body>
</html>
