<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>{% block title %}FishBlock - Votre Portail de Séries!{% endblock %}</title>
        {% block stylesheets %}{% endblock %}
        <link rel="stylesheet" href="{{ asset('public/css/fishblock.css') }}">
        <link rel="stylesheet" href="{{ asset('public/css/plugins.css') }}">
        <link rel="stylesheet" href="{{ asset('public/css/animate.css') }}">
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
    </head>
    <body>
    <main>
        <h1 class="cache-fish">FishBlock - Votre Portail de Séries</h1>
        <header class="container-fluid">

            {# Logo of the website #}
            <figure class="logo-fish">
                <img src="{{ asset('public/images/logo-fishblock2.png') }}" class="animated bounceInLeft" alt="FishBlock Logo" width="280px">
            </figure>

            {# button login / inscription #}
            <nav class="menu-login-fish ">
                <h1 class="cache-fish">login / inscription</h1>
                    <ul>                        
                        <li><a href="{{ path('fos_user_registration_register') }}" class="btn-fish btn-actived">s'inscrire</a></li>
                        <li><a href="{{ path('fos_user_security_login') }}" class="btn-fish">se connecter</a></li>
                    </ul>
            </nav>

            {# Change langages #}
            <span class="lang-fish">
                <a href="" lang="fr" class="btn-fish btn-actived">FR</a>
                <a href="" lang="en" class="btn-fish">EN</a>
            </span>
            
        </header>

        {# Menu navigation #}
            <nav class="menu-nav-fish">
                <h1 class="cache-fish">Menu of navigation</h1>
                    <ul>
                        <li><a href="{{ path('_index') }}" class="btn-fish btn-actived"><span class="fa fa-home"></span>accueil</a></li>
                        <li><a href="{{ path('_series') }}" class="btn-fish"><span class="fa fa-tv"></span>séries</a></li>
                    </ul>
            </nav>
        
         {# Button search  {{ path('path_id' , {'searchTerm': app.request.query.get('search-term')}) }}  #} 
            <section class="search-fish">
                <form class="navbar-form" method="get" action="" role="search"> 
                    <div class="input-group">
                        <input type="search" class="form-control" placeholder="Recherche" name="search-fish" id="search-fish" required>                    
                        <button class="btn-search-fish"><i class="fa fa-search" type="submit"></i></button>                
                    </div>
                </form>
            </section>
        {% block body %}{% endblock %}
        {% block javascripts %}{% endblock %}

        </main>
    </body>
</html>
