{% extends 'FOSUserBundle::layout.html.twig' %}

{% block title %}Proposer une Série{% endblock %}

{% block body %}
    {#Button proposer#}
    <ul>
        <li>
            <a href="{{ path('_series') }}" style="font-size: 18px">
                <span class="fa fa-arrow-circle-left"></span> {{ 'fish.back'|trans({}, 'AcmeFishBlockBundle') }}
            </a>
        </li>
    </ul>

    <h1>Proposer une Série</h1>

    <article class="form-fish">
    {{ form_start(form) }}
        {{ form_widget(form) }}
        <input type="submit" value="Create" />
    {{ form_end(form) }}
    </article>

{% endblock %}
